body {
  background-color: #F4F1EE;
  font-family: 'Satisfy', cursive;
}
h1 {
  margin-top: 30px;
  color: #333333;
}
footer {
  background-color:#F4F1EE;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgb(103,71,54);

}
.navbar-brand {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #D1B67A !important;
}       
a {
    color: #D1B67A !important; ;
    }
a:hover{
    color: #F4F1EE !important;
}
th {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  color: #333333;
  padding: 10px;
  text-align: center;
  
}
table,th,td{
    border: 1px solid #D1B67A  !important;
    border-spacing: 30px;
}
.panel {
  background-color: #F4F1EE;
  border: 1px solid #D1B67A;
  border-radius: 12px;
  overflow: hidden; /* Keeps inner corners clean */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.panel-heading {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.panel-body {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.panel-default {
  background-color: #F4F1EE;
  border-color: #D1B67A;
}
.panel-default > .panel-heading {
  background-color: #D1B67A;
  color: #FFFFFF;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  text-align: center;
}
.panel-default > .panel-body {
  background-color: #F4F1EE;      }